a.button-link {
    box-sizing: border-box;
    width: 72rem;
    height: 4.75rem;
    text-decoration: none;
    border: 1px solid #EAECF0;
    background-color: #EAECF0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 100%;
    gap: 0.5rem;
    color: black;
    
}

#contact a {
    text-decoration: none;
    color: black;
}


@media (max-width:600px){
    a.button-link{
        width: 21.4375rem;
        height: 4.25rem;
    }
}
