.profile{
    display: flex;
    justify-content: center;
    position: relative;
    width: 72rem;
    height: 8.75rem;
}

#slack {
    display: none;
}

/* .profile-part{
    padding-right: 18rem;
} */

.share-link.phone{
    display: none;
}

.share-link {
    position: absolute;
    /* left: 12.5%; */
    right: 11.53%;
    bottom: 14.95%;
    top: 4.95%
}

@media (max-width:600px){
    .profile{
        width: 21.4375rem;
        height: 8.75rem;
    }
    .share-link.web{
        display: none;
    }

    .share-link.phone{
        display: block;
        right: 0;
    }


}

