
body{
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 90rem;
  background-color: #ffff;
  max-width: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 7rem;
  gap: 1.5rem;
}



@media (max-width:600px){
  body{
    width: 23.4375rem;
    height: 68rem;
    overflow-y: scroll;
  }
  .App{
    width: 23.4375rem ;
    height: 55.75rem;
    padding: 4rem 0 2rem;
  }


}

