.icons{
    width: 72rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    padding-right: 1.5rem;
    
}


@media (max-width:600px){
    .icons{
        width: 23.4375rem;
        height: 4.5rem;
    }
}